@use "../abstracts/variables" as vars;

// -----------------------------------------------------------------------------
/* This file contains all styles related to the button component. */
// -----------------------------------------------------------------------------

.scssecoBtn {
  background: var(--clr-brandPrimaryColor);
  border: none;
  border-radius: vars.$borderRadius;
  color: var(--clr-brandSecondaryColor);
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem;
  text-decoration: none;
  text-align: center;
  transition: background vars.$animDur ease-in-out, color vars.$animDur ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover,
  &:focus {
    background: var(--clr-brandSecondaryColor);
    color: var(--clr-brandPrimaryColor);
    text-decoration: none;
  }
}
