@use "../abstracts/variables" as vars;

// -----------------------------------------------------------------------------
/* This file contains all styles related to the button component. */
// -----------------------------------------------------------------------------

.scssecoBtn {
  background: var(--clr-brandSecondaryColor);
  border: 1px solid var(--clr-brandSecondaryColor);
  color: var(--clr-black);
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 800;
  margin: 0;
  padding: 0.5rem 70px;
  text-decoration: none;
  text-align: center;
  transition: background vars.$animDur ease-in-out, color vars.$animDur ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover,
  &:focus {
    background: var(--clr-brandPrimaryColor);
    color: var(--clr-brandSecondaryColor);
    text-decoration: none;
  }
}
